﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

.pd-20 {
    border: 1px solid #CCC;
    border-radius: 5px;
}

    .pd-20 .form-group {
        overflow: hidden;
    }

    .pd-20 > h2 {
        font-size: 14px;
        font-weight:bold;
        background: #CCC;
        padding: 10px;
        margin: 0 0 20px;
    }
.mt-10 {
    margin-top:10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 30px 0 0 0;
    }
}
