﻿@model List<MSICApp_Test.Class.SearchResult>
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("SearchResult", "Home", FormMethod.Get))
{
    <div class="row">
        <h2>Search</h2>
        <div class="col-md-6">
            <div class="pd-20">
                <h2>Search</h2>
                <div class="form-group">
                    <label for="inputEmail" class="control-label col-xs-2">Contains</label>
                    <div class="col-xs-10">
                        @*<input class="form-control" id="txtContains">*@
                        @Html.TextBox("txtContains", null, new { id = "txtContains", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="ddlwithin" class="control-label col-xs-2">Within</label>
                    <div class="col-xs-10">

                        @Html.DropDownList("ddlwithin", new List<SelectListItem>
                                {
                                    new SelectListItem{ Text="", Value = "" },
                                    new SelectListItem{ Text="24 Hours", Value = "-1" },
                                    new SelectListItem{ Text="2 days", Value = "-2" },
                                    new SelectListItem{ Text="5 days", Value = "-5" },
                                    new SelectListItem{ Text="7 days", Value = "-7" },
                                    new SelectListItem{ Text="10 days", Value = "-10" },
                                    new SelectListItem{ Text="20 days", Value = "-20" },
                                    new SelectListItem{ Text="30 days", Value = "-30" },
                                    new SelectListItem{ Text="50 days", Value = "-50" },
                                    new SelectListItem{ Text="60 days", Value = "-60" },
                                    new SelectListItem{ Text="90 days", Value = "-90" },
                                    new SelectListItem{ Text="120 days", Value = "-120" },
                                 }, new { id = "ddlwithin", @class = "form-control selectpicker" })

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-10 pull-right">
                        @*<button type="submit" class="btn btn-default">Reset</button>*@
                        @Html.ActionLink("Reset", "Index", "Search", new { @class = "btn btn-default", @id = "btnReset" })
                        <button type="submit" class="btn btn-primary">Go</button>
                        @*@Html.ActionLink("Go", "SearchResult", "Search", new { @class = "btn btn-primary", @id = "btnGO" })*@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pd-20">
                <h2>Workflow</h2>
                <div class="form-group">
                    <label for="paid" class="control-label col-xs-2">Paid</label>
                    <div class="col-xs-10">
                        @Html.DropDownList("ddlPaid", new List<SelectListItem>
                                {
                                    new SelectListItem{ Text="", Value = "" },
                                    new SelectListItem{ Text="Yes", Value = "1" },
                                    new SelectListItem{ Text="No", Value = "0" },
                                 }, new { id = "ddlPaid", @class = "form-control selectpicker" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="ddlIdDocs" class="control-label col-xs-2">Id Docs</label>
                    <div class="col-xs-10">

                        @Html.DropDownList("ddlIdDocs", new List<SelectListItem>
                                {
                                    new SelectListItem{ Text="", Value = "" },
                                    new SelectListItem{ Text="Yes", Value = "1" },
                                    new SelectListItem{ Text="No", Value = "0" },
                                 }, new { id = "ddlIdDocs", @class = "form-control selectpicker" })

                    </div>
                </div>
                <div class="form-group">
                    <label for="ddlOpNeed" class="control-label col-xs-2">Op Need</label>
                    <div class="col-xs-10">

                        @Html.DropDownList("ddlOpNeed", new List<SelectListItem>
                                {
                                    new SelectListItem{ Text="", Value = "" },
                                    new SelectListItem{ Text="Yes", Value = "1" },
                                    new SelectListItem{ Text="No", Value = "0" },
                                 }, new { id = "ddlOpNeed", @class = "form-control selectpicker" })

                    </div>
                </div>
            </div>
        </div>
    </div>
    if (Model != null)
    {
        <table cellpadding="0" cellspacing="0" class="table table-hover mt-10">
            <tr>
                <th>Id</th>
                <th>Card Number</th>
                <th>Given Names</th>
                <th>Surname</th>
            </tr>
            @foreach (MSICApp_Test.Class.SearchResult result in Model)
            {
                <tr>
                    <td>@result.Id</td>
                    <td>@result.CardNumber</td>
                    <td>@result.GivenNames</td>
                    <td>@result.Surname</td>
                </tr>
            }
        </table>
    }
}
